div#content_type_checkboxes .form-item label.option {
  float: left;
  width: 33%;
}

div#content_type_checkboxes .description {
  clear: both;
  padding-top: 1em;
}

div#batch_settings .form-item label {
  float: left;
  font-size: 0.8em;
  padding-top: 0.6em;
}

div#queue-all-nodes-button, div#process-nodes-button, div#clear-nodes-button {
  color: #999;
  font-size: 0.8em;
  margin: 15px 0;
}

div.eagle-i-error {
  background-color: #f08080;
  margin: 10px;
  padding: 5px;
  border: 2px solid red;
}

div.ontology-wrapper {
  padding: 0 5px 5px 5px;
}

div.ontology-reset-button-wrapper {
  margin: 5px 0;
  float: left;
}

div.ontology-reset-message-wrapper {
  margin: 5px 0;
  float: left;
  padding-top: 8px;
  font-size: 0.7em;
  color: red;
  font-style: italic;
}
200px
.arrow {
  font-size: 2em;
  line-height: 10px;
  margin-top: 5px;
}

table#uri-mappings {
  font-size: 0.7em;
}

table#uri-mappings td:not(:last-child), table#uri-mappings th:not(:last-child) {
  padding: 0 15px;
}

table#uri-mappings .form-item {
  margin: 0;
}

table#uri-mappings td input[type=text] {
  border: 1px solid lightgray;
  padding: 5px;
}

table#uri-mappings #edit-uri-map-footer-add {
  border: none;
  background: none;
  font-size: 2.2em;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

table#uri-mappings #edit-uri-map-footer-submit {
  margin-top: 15px;
}

input.remove_uri_mapping {
  border: none;
  background: none;
  font-size: 2.6em;
  font-weight: bold;
  color: lightgray;
  cursor: pointer;
}

#uri-map-header {
  width: 500px;
  margin: 5px 15px 35px 15px;
  font-size: 0.7em;
}

form#eagle-i-integration-map-content-type-form .form-item label {
  float: left;
  width: 90px;
  margin: 5px;
  font-weight: normal;
  font-size: 0.7em;
}

form#eagle-i-integration-map-content-type-form legend {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}

form#eagle-i-integration-map-content-type-form input:not([type=submit]),
form#eagle-i-integration-map-content-type-form select {
  font-size: 0.8em;
  color: #666;
  border: 1px solid #ccc;
  padding: 3px;
}

form#eagle-i-integration-map-content-type-form input[type=submit] {
  font-size: 0.8em;
  color: #666;
  padding: 3px;
}

form#eagle-i-integration-map-content-type-form table {
  margin-top: 50px;
}

form#eagle-i-integration-map-content-type-form table th {
  color: #666;
  font-size: 0.8em;
}

form#eagle-i-integration-map-content-type-form table td div.form-item {
  margin: 0;
}

form#eagle-i-integration-map-content-type-form table td.mapping-table-field-column,
form#eagle-i-integration-map-content-type-form table td.mapping-table-spacer-column,
form#eagle-i-integration-map-content-type-form table td.mapping-table-uri-column {
  padding-top: 10px;
}

form#eagle-i-integration-map-content-type-form table td input[type=checkbox] {
  height: 9px;
}

form#eagle-i-integration-map-content-type-form table#service td label {
  font-size: 0.7em;
  width: auto;
}

form#eagle-i-integration-map-content-type-form table#service td div {
  float: left;
}

form#eagle-i-integration-map-content-type-form table td div:nth-child(3),
form#eagle-i-integration-map-content-type-form table td div:nth-child(4) {
  float: none;
  clear: both;
  margin-left: 50px;
}

form#eagle-i-integration-map-content-type-form table td div:nth-child(3) label,
form#eagle-i-integration-map-content-type-form table td div:nth-child(4) label {
  width: 80px;
}

form#eagle-i-integration-map-content-type-form input#edit-add-mapping {
  margin-top: 25px;
}